:root {
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 62%, 48%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --text-size-7: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --text-size-6: clamp(0.9375rem, 0.9196rem + 0.0893vw, 1rem);
  --text-size-5: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --text-size-4: clamp(1.35rem, 1.2893rem + 0.3036vw, 1.5625rem);
  --text-size-3: clamp(1.62rem, 1.5248rem + 0.4759vw, 1.9531rem);
  --text-size-2: clamp(1.944rem, 1.8019rem + 0.7106vw, 2.4414rem);
  --text-size-1: clamp(2.3328rem, 2.1274rem + 1.0271vw, 3.0518rem);

  /* Space 3xs: 4px → 4px */
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  /* Space 2xs: 8px → 8px */
  --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  /* Space xs: 11px → 12px */
  --space-xs: clamp(0.6875rem, 0.6658rem + 0.1087vw, 0.75rem);
  /* Space s: 15px → 16px */
  --space-s: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* Space m: 23px → 24px */
  --space-m: clamp(1.4375rem, 1.4158rem + 0.1087vw, 1.5rem);
  /* Space l: 30px → 32px */
  --space-l: clamp(1.875rem, 1.8315rem + 0.2174vw, 2rem);
  /* Space xl: 45px → 48px */
  --space-xl: clamp(2.8125rem, 2.7473rem + 0.3261vw, 3rem);
  /* Space 2xl: 60px → 64px */
  --space-2xl: clamp(3.75rem, 3.663rem + 0.4348vw, 4rem);
  /* Space 3xl: 90px → 96px */
  --space-3xl: clamp(5.625rem, 5.4946rem + 0.6522vw, 6rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 8px */
  --space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
  /* Space 2xs-xs: 8px → 12px */
  --space-2xs-xs: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  /* Space xs-s: 11px → 16px */
  --space-xs-s: clamp(0.6875rem, 0.5788rem + 0.5435vw, 1rem);
  /* Space s-m: 15px → 24px */
  --space-s-m: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
  /* Space m-l: 23px → 32px */
  --space-m-l: clamp(1.4375rem, 1.2418rem + 0.9783vw, 2rem);
  /* Space l-xl: 30px → 48px */
  --space-l-xl: clamp(1.875rem, 1.4837rem + 1.9565vw, 3rem);
  /* Space xl-2xl: 45px → 64px */
  --space-xl-2xl: clamp(2.8125rem, 2.3995rem + 2.0652vw, 4rem);
  /* Space 2xl-3xl: 60px → 96px */
  --space-2xl-3xl: clamp(3.75rem, 2.9674rem + 3.913vw, 6rem);

  /* Custom pairs */
  /* Space s-l: 15px → 32px */
  --space-s-l: clamp(0.9375rem, 0.5679rem + 1.8478vw, 2rem);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: var(--grayish-blue);
  font-family: "Karla", sans-serif;
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}